<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlSgtPepers" class="zhanglw.springinaction.study.s1.c2.xml.XML_SgtPeppers"/>

    <!--使用constructor-arg 元素-->
    <bean id="cdPlayerXml_csa" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML">
        <constructor-arg ref="xmlSgtPepers"/>
    </bean>

    <!--c-命名空间-->
    <!--使用c:构造参数名-ref -->
    <bean id="cdPlayerXml_parma_name" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML"
          c:cd-ref="xmlSgtPepers"/>

    <!--使用c:构造参数位置-ref ,比较好使用-->
    <bean id="cdPlayerXml_0" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML" c:_0-ref="xmlSgtPepers"/>

    <!--在仅一个参数时,使用c:_ref ,这种用法比较奇特,不建议使用-->
    <bean id="cdPlayerXml_specail" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML" c:_-ref="xmlSgtPepers"/>

    <!--字面量注入-->
    <!--constructor 元素-->
    <bean id="xmlBlankDisc_arg" class="zhanglw.springinaction.study.s1.c2.xml.XML_BlankDisc">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
        <constructor-arg value="The Beatles"/>
    </bean>

    <!--c命名空间-->
    <bean id="xmlBlankDisc_c" class="zhanglw.springinaction.study.s1.c2.xml.XML_BlankDisc"
          c:_0="Sgt. Pepper's Lonely Hearts Club Band" c:_1="The Beatles"/>

    <!--BlankDisc Player-->
    <bean id="cdPlayerxml_BlankDisc_arg" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML">
        <constructor-arg ref="xmlSgtPepers"/>
    </bean>

    <bean id="cdPlayerxml_BlankDisc_c" class="zhanglw.springinaction.study.s1.c2.xml.CDPlayerXML">
        <constructor-arg ref="xmlSgtPepers"/>
    </bean>

</beans>